[submodule "vendor/minui"]
	path = vendor/minui
	url = https://github.com/codex-alchemist-dev/MinUI.git
[submodule "vendor/mclite"]
	path = vendor/mclite
	url = https://github.com/codex-alchemist-dev/MCLite.git
